[flake8]
#
# https://www.flake8rules.com/rules/W503.html
# As noted on the page, the opposite is now considered best practice
#
# https://www.flake8rules.com/rules/E203.html
# Let black handle formatting
#
# https://www.flake8rules.com/rules/E501.html
# Let black handle line length
#
ignore = W503,E203,E501
