# created by virtualenv automatically
.cache
.idea
.pytest_cache
.temp
.venv
__pycache__
dist
htmlcov
*/.obsidian/plugins/obsidian-languagetool-plugin
.coverage
.env
.DS_Store
*_mkdocs_build.log
*_mkdocs_debug.zip
sandbox*.py
