repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        name: insert project license into Python files
        files: ^(mkdocs_publisher|tests)/
        types: [file, text, python]
        args:
          - --license-filepath
          - LICENSE
          - --use-current-year
          - --allow-past-years
      - id: insert-license
        name: insert project license into HTML files
        files: ^mkdocs_publisher/
        types: [file, text, html]
        args:
          - --license-filepath
          - LICENSE
          - --comment-style
          - <!--|  ~|  -->
          - --use-current-year
          - --allow-past-years
      - id: insert-license
        name: insert project license into CSS files
        files: ^mkdocs_publisher/
        exclude: \.min.css$
        types: [file, text, css]
        args:
          - --license-filepath
          - LICENSE
          - --comment-style
          - /*| *| */
          - --use-current-year
          - --allow-past-years
      - id: insert-license
        name: insert project license into JS files
        files: ^mkdocs_publisher/
        exclude: \.min.js$
        types: [file, text, javascript]
        args:
          - --license-filepath
          - LICENSE
          - --comment-style
          - //
          - --use-current-year
          - --allow-past-years

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^(docs|mkdocs_publisher_docs/.obsidian)/
      - id: trailing-whitespace
        exclude: ^(docs|mkdocs_publisher_docs/.obsidian)/
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: detect-private-key
      - id: no-commit-to-branch
      - id: name-tests-test
        files: ^tests/
        exclude: \.md$

  - repo: local
    hooks:
      - id: lint-yaml
        name: lint YAML files
        description: Format and check YAML files.
        entry: poetry run yamllint
        language: system
        files: \.(yml|yaml)$

      - id: format
        name: format Python code
        description: Pre-format python code.
        entry: poetry run black
        language: system
        types:
          - python

      - id: lint-python
        name: lint Python
        description: Lint python code.
        entry: poetry run flake8
        language: system
        types:
          - python

      - id: sort-imports
        name: sort Python imports
        description: Sort python imports.
        entry: poetry run isort
        language: system
        types:
          - python

      - id: type-check
        name: type check Python annotations
        description: Pyright type annotation checking.
        entry: poetry run pyright
        language: system
        types:
          - python

      - id: pytest-check
        name: run unittests
        entry: poetry run pytest
        language: system
        pass_filenames: false
        always_run: true
