[tool.poetry]
name = "mkdocs-publisher"
version = "0.4.1"
description = "Publishing plugins for MkDocs"
authors = ["Maciej 'maQ' Kusz <maciej.kusz@gmail.com>"]
license = "BSD"
readme = "README.md"
keywords = [
    "mkdocs",
    "mkdocs-plugin",
    "publisher",
    "blog",
    "minifier",
    "frontmatter",
    "tags",
    "navigation"
]
packages = [
    {include = "mkdocs_publisher"},
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Documentation",
    "Topic :: Text Processing",
]
homepage = "https://github.com/mkusz/mkdocs-publisher"
repository = "https://github.com/mkusz/mkdocs-publisher"
documentation = "https://mkusz.github.io/mkdocs-publisher"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/mkusz/mkdocs-publisher/issues"

[tool.poetry.dependencies]
python = "^3.9"
python-frontmatter = "^1.0.0"
mkdocs = "^1.4.2"
mkdocs-material = "^9.1.3"
pymdown-extensions = "^9.10"

[tool.poetry.group.dev.dependencies]
isort = "^5.12.0"
black = "^22.12.0"
pyright = "^1.1.291"
flake8 = "^6.0.0"
yamllint = "^1.29.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 99

[tool.isort]
py_version=39
profile = "black"
line_length = 99
force_single_line = true
verbose = true
src_paths = [
    "mkdocs_publisher",
    "tests",
]

[tool.pyright]
extraPaths = [
    "mkdocs_publisher",
]
include = [
    "mkdocs_publisher",
    "tests",
]
reportMissingImports = false
reportMissingTypeStubs = false
typeCheckingMode = "basic"

[tool.poetry.plugins."mkdocs.plugins"]
pub-auto-nav = "mkdocs_publisher.auto_nav.plugin:AutoNavPlugin"
pub-blog = "mkdocs_publisher.blog.plugin:BlogPlugin"
pub-minifier = "mkdocs_publisher.minifier.plugin:MinifierPlugin"

[tool.poetry.scripts]
publisher = "mkdocs_publisher._cli.publisher:app"
