.tabbed-set {
    border-bottom: 0.1rem solid var(--md-accent-fg-color);
}

.tabbed-set .tabbed-set {
    border-bottom: 0;
    padding-bottom: 0.5rem;
}

.md-typeset details > p {
    margin-top: 0.375em;
    margin-bottom: 0.375em;
}

/* Settings admonition style */

:root {
    --md-admonition-icon--settings: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M12 15.5A3.5 3.5 0 0 1 8.5 12A3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97c0-.33-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1c0 .33.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.66Z"%2F%3E%3C%2Fsvg%3E');
}

.md-typeset .admonition.settings,
.md-typeset details.settings {
    margin: 0.5rem 0 0.5rem 1rem;
    font-size: 0.8rem;
    box-shadow: none;
    border: none;
    padding-right: 0;
}

.md-typeset .settings > .admonition-title,
.md-typeset .settings > summary {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-left: -2rem;
    background-color: var(--md-code-bg-color);
}

.md-typeset .settings .admonition-title::before,
.md-typeset .settings > summary::before {
    background-color: var(--md-accent-fg-color);
    -webkit-mask-image: var(--md-admonition-icon--settings);
            mask-image: var(--md-admonition-icon--settings);
}

.md-typeset details .admonition-title::before,
.md-typeset details .admonition-title::after,
.md-typeset details > summary::before,
.md-typeset details > summary::after {
    top: 0.375em;
}

.mermaid {
    text-align: center;
}
