name: Deploy Pages
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */8 * * *'
jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Install poetry
        run: pipx install --python python poetry==1.5.1
      - name: Checkout git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: 'x64'
          cache: 'poetry'
      - name: Install Python dependencies
        run: poetry install -n
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          architecture: 'x64'
          cache: 'npm'
      - name: Install npm packages
        # yamllint disable-line rule:line-length
        run: npm install --no-fund -f -g svgo html-minifier postcss cssnano postcss-svgo postcss-cli uglify-js
      - name: Install additional Ubuntu packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: rustc pngquant libjpeg-turbo-progs
          version: 'ubuntu'
      - name: Install oxipng
        uses: baptiste0928/cargo-install@v2
        with:
          crate: oxipng
      - name: Restore MkDocs cached files
        uses: actions/cache@v3
        with:
          path: .pub_min_cache
          key: mkdocs-publisher-cache-${{ github.run_id }}
          restore-keys: mkdocs-publisher-cache-
      - name: Build mkdocs-publisher documentation
        run: poetry run mkdocs build -c
      - name: Store documentation build and debug logs as artifacts
        uses: actions/upload-artifact@v3
        with:
          name: docs-build-logs
          if-no-files-found: ignore
          retention-days: 1
          path: |
            *_mkdocs_build.log
            *_mkdocs_debug.zip
      - name: Commit static site to repository with GitHub Pages enabled
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.DEPLOY_PAGES_TOKEN }}
        with:
          user-name: ${{ secrets.USER_NAME }}
          user-email: ${{ secrets.USER_EMAIL }}
          source-directory: docs
          destination-github-username: ${{ secrets.USER_NAME }}
          destination-repository-name: mkdocs-publisher
          target-branch: docs
      - name: Save MkDocs files cache
        uses: actions/cache/save@v3
        with:
          path: .pub_min_cache
          key: mkdocs-publisher-cache-${{ github.run_id }}
