name: Checks

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    runs-on: ubuntu-latest
    name: Pre-commit
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: '>=0.7.8'
          enable-cache: true
          cache-suffix: 'v${{ matrix.python-version }}'
      - name: Install Python 3.9
        run: uv python install 3.9
      - name: Install Python dependencies
        run: uv sync --group dev --no-install-project
      - name: Pre-commit tests
        env:
          SKIP: no-commit-to-branch,pytest-check,update-coverage,check-readme-md
        uses: pre-commit/action@v3.0.1
  unittests:
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
      fail-fast: false
    name: Unittests (Python v${{ matrix.python-version }})
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: '>=0.7.8'
          enable-cache: true
          cache-suffix: 'v${{ matrix.python-version }}'
      - name: Install Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: uv sync --group test --no-install-project
      - name: Run unittests
        run: uv run pytest --no-header --no-cov
