name: Release a new version

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    environment: release-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: '>=0.7.8'
          enable-cache: true
          cache-suffix: python3.9
      - name: Install Python 3.9
        run: uv python install 3.9
      - name: Install Python dependencies
        run: uv sync --group dev --no-install-project
      - name: Build a release
        run: uv build
      - name: Create a new tag for the release
        uses: tvdias/github-tagger@v0.0.1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          tag: "test"
      
      # - name: Publish a release to PyPI
      # - name: Config poetry
      #   run: poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      # - name: Create GitHub release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     make_latest: true
      #     fail_on_unmatched_files: false
      #     files: |
      #       dist/mkdocs_publisher-*.tar.gz
      #       dist/mkdocs_publisher-*.whl

      - name: Store build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mkdocs_publisher
          if-no-files-found: ignore
          retention-days: 7
          path: |
            dist/mkdocs_publisher-*.tar.gz
            dist/mkdocs_publisher-*.whl
