name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    name: Pre-commit
    steps:
      - name: Install poetry
        run: pipx install poetry
      - name: Checkout git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          architecture: 'x64'
          cache: 'poetry'
      - name: Config poetry
        run: poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      - name: Build project
        run: poetry build
      - name: Publish to PyPi
        run: poetry publish
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          fail_on_unmatched_files: false
          files: |
            dist/mkdocs_publisher-*.tar.gz
            dist/mkdocs_publisher-*.whl
      - name: Store build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mkdocs_publisher
          if-no-files-found: ignore
          retention-days: 1
          path: |
            dist/mkdocs_publisher-*.tar.gz
            dist/mkdocs_publisher-*.whl
